/* Offsets for Ghost blog */
.toc {
	margin-bottom: 1em;
}
.toc-on > .toc-content {
	margin: 1em;
}
.toc-content li {
	margin: 0;
}

/* TOC Base Style */
.toc {
	width: 100%;
	border-color: #ddd;
	border-style: solid;
	border-width: .7px;
	border-radius: 3px;
}
.toc-title {
	cursor: pointer;
	user-select: none;
	font-size: 1.1em;
	padding: .3em 1em;
	border-radius: 5px;
	background-position: 98% center;
	background-repeat: no-repeat;
	background-size: .9em;
}

/* Link & Hover Style */
.toc-content a {
	color: inherit;
	text-decoration: none;
}
.toc-content a:hover {
	text-decoration: underline;
}

/* Implementation For Status Toggling */
.toc-content {
	overflow: hidden;
	transition: all .7s;
}
.toc-off .toc-content {
	margin: 0;
	height: 0;
	opacity: 0;
}

/* Both Icons Of TOC Title Statuses*/
.toc-on .toc-title {
	background-image: url(./toc-on.png);
}
.toc-off .toc-title {
	background-image: url(./toc-off.png);
}
