.toc {
	border: 1px solid #ddd;
	border-radius: 5px;
}
.toc-title {
	cursor: pointer;
	user-select: none;
	font-size: 1.1em;
	padding: .5em 1em;
	border-radius: 5px;
	background-position: 98.5% center;
	background-repeat: no-repeat;
	background-size: .9em;
}
.toc-content {
	overflow: hidden;
	transition: all .7s;
}

.toc-off .toc-content {
	margin: 0;
	height: 0;
	opacity: 0;
}

.toc-on .toc-title {
	background-image: url(./toc-on.png);
}
.toc-off .toc-title {
	background-image: url(./toc-off.png);
}

.buttons {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 15px 0;
}
.buttons button {
	cursor: pointer;
	user-select: none;
	outline: none;
	color: #FF9800;
	border-color: #FF9800;
	border-style: solid;
	border-radius: 3px;
	background-color: transparent;
	box-shadow: 0 1.5px 3px rgba(0,0,0,0.1);
	transition: all .3s;
}
.buttons button:hover {
	box-shadow: 0 5px 7px rgba(0,0,0,0.15);
}
button,
select {
	padding: 7px;
	border-radius: 3px;
}
