@media (min-width: 520px) {
	main {
		width: 65%;
		margin: auto auto;
	}
}

body {
	font-family: monospace;
	margin: auto auto;
}

.toc-title {
	font-size: 1.3em;
	padding: .5em 1em !important;
}

.post-content {
	margin-top: 20px;
}
.post-content > h1,h2,h3,h4,h5,h6 {
	margin-left: 1rem;
}

header {
	color: #fff;
	padding: 15px 0;
	font-size: 2.3em;
	text-align: center;
	background: linear-gradient(40deg,#ffd86f,#fc6262);
}
header a {
	color: inherit;
	user-select: none;
	text-decoration: none;
}

main > p {
	text-align: center;
	font-size: 15px;
	color: #5d5d5d;
}

hr {
	height: 2px;
	border: none;
	background-color: rgba(255, 152, 0, 0.7);
	background-image: repeating-linear-gradient(
		-45deg,#fff,#fff .25rem,
		transparent .25rem,
		transparent .5rem
	);
}

.buttons {
	display: flex;
	justify-content: space-around;
	margin: 15px 0;
}
.buttons > button {
	padding: 7px;
	color: #ff9800;
	outline: none;
	cursor: pointer;
	user-select: none;
	border-radius: 3px;
	border-style: solid;
	border-color: #ff9800;
	background-color: transparent;
	box-shadow: 0 1.5px 3px rgba(0,0,0,0.1);
	transition: all .3s;
}
.buttons > button:hover {
	box-shadow: 0 5px 7px rgba(0,0,0,0.15);
}

.headings > button {
	color: #5d5d5d !important;
	border-color: #9a9a9a !important;
}
